@{
    ViewBag.Title = "Shipping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #body-content {
        padding-top: 40px;
    }
</style>

<div id="body-container">
    <div id="body-content">
        <section class="nav nav-page">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <header class="page-header">
                            <h3>
                                Navieras
                            </h3>
                        </header>
                    </div>
                </div>
            </div>
        </section>
        <section class="page container" >
            <div class="row">
                <div class="span16">
                    <div class="well well-small well-shadow well-anchor-Dashboard ">
                        <div class="box-header">
                            <button type="submit" class="btn btn-primary pull-left">
                                <i class="fa fa-plus-square fa-lg"></i>
                                &nbsp;Nueva naviera
                            </button>
                            </br>
                            </br>

                            <div class="box pattern pattern-sandstone">
                                <div class="box-header">
                                    <i></i>
                                </div>
                                <div class="box-content box-table">
                                    <table id="sample-table" class="table table-hover table-bordered tablesorter">
                                        <thead>
                                            <tr>
                                                <th class="header headerSortUp">Nombre</th>
                                                <th class="header">Dirección</th>
                                                <th class="header">Telefono 1</th>
                                                <th class="header">Telefono 2</th>
                                                <th class="header">Telefono 3</th>
                                                <th class="td-actions">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>DOLE</td>
                                                <td>1En los barrios bajos</td>
                                                <td>11111111</td>
                                                <td>22222222</td>
                                                <td>33333333</td>
                                                <td class="td-actions">
                                                    <a href="javascript:;" class="btn btn-small btn-info">
                                                        <i class="btn-icon-only fa fa-pencil-square-o"></i>
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-small btn-info">
                                                        <i class="btn-icon-only fa fa-file-text-o"></i>
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-small btn-info">
                                                        <i class="btn-icon-only fa fa-info-circle"></i>
                                                    </a>

                                                    <a href="javascript:;" class="btn btn-small btn-danger">
                                                        <i class="btn-icon-only icon-remove"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Titanic</td>
                                                <td>En los barrios bajos</td>
                                                <td>11111111</td>
                                                <td>22222222</td>
                                                <td>33333333</td>
                                                <td class="td-actions">
                                                    <a href="javascript:;" class="btn btn-small btn-info">
                                                        <i class="btn-icon-only fa fa-pencil"></i>
                                                    </a>

                                                    <a href="javascript:;" class="btn btn-small btn-danger">
                                                        <i class="btn-icon-only icon-remove"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Poseidon</td>
                                                <td>2En los barrios bajos</td>
                                                <td>11111111</td>
                                                <td>22222222</td>
                                                <td>33333333</td>
                                                <td class="td-actions">
                                                    <a href="javascript:;" class="btn btn-small btn-info">
                                                        <i class="btn-icon-only fa fa-pencil"></i>
                                                    </a>

                                                    <a href="javascript:;" class="btn btn-small btn-danger">
                                                        <i class="btn-icon-only icon-remove"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Perla negra</td>
                                                <td>3En los barrios bajos</td>
                                                <td>11111111</td>
                                                <td>22222222</td>
                                                <td>33333333</td>
                                                <td class="td-actions">
                                                    <a href="javascript:;" class="btn btn-small btn-info">
                                                        <i class="btn-icon-only fa fa-pencil"></i>
                                                    </a>

                                                    <a href="javascript:;" class="btn btn-small btn-danger">
                                                        <i class="btn-icon-only icon-remove"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<footer class="application-footer">
    <div class="container">
        <p>Información Legal Del Sitio</p>
        <div class="disclaimer">
            <p>© JarvisGeek S.A. Todos los derechos reservados. 2015</p>
            <div id="app-nav-top-bar" class="nav-collapse">
                <ul class="menu-footer">
                    <li>
                        <a href="#">Términos de uso</a>
                    </li>
                    <li>
                        <a href="#">Política de privacidad y cookies</a>
                    </li>
                    <li>
                        <a href="#">Términos de pago</a>
                    </li>
                    <li>
                        <a href="#">Acerca de este sitio</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>


<script src="~/Content/js/bootstrap/bootstrap-alert.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-modal.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-dropdown.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-scrollspy.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-tab.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-tooltip.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-popover.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-button.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-collapse.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-carousel.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-typeahead.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-affix.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/Content/js/jquery/jquery-tablesorter.js" type="text/javascript"></script>
<script src="~/Content/js/jquery/jquery-chosen.js" type="text/javascript"></script>
<script src="~/Content/js/jquery/virtual-tour.js" type="text/javascript"></script>
<script src="~/Content/js/jquery/easing.js" type="text/javascript"></script>
<script src="~/Content/js/jquery/mousewheel.js" type="text/javascript"></script>
<script src="~/Content/js/jquery/rhinoslider-1.05.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $('#sample-table').tablesorter();
        $('#datepicker').datepicker();
        $('#datepicker2').datepicker();
        $(".chosen").chosen();
    });
    </script>