@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<body class="body">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="@Url.Action("Login", "Account")" class=" brand "><i class=" fa fa-users"> </i>&nbsp;JarvisGeek S.A</a>
            </div>
        </div>
    </div>

    <div id="body-container">
        <div id="body-content">
            <div class='container'>
                <div class="signin-row row">
                    <div class="span4"></div>
                    <div class="span8">
                        <div class="well well-small well-shadow">
                            <legend class="lead" style="text-align:center;">Bienvenido a JGAssistant</legend>
                            <p style="text-align:left;">Por favor digite sus credenciales</p>
                        </div>
                    </div>
                    <div class="span8"></div>
                </div>

                <div class="signin-row row">
                    <div class="span4"></div>
                    <div class="span8">
                        <div class="container-signin">
                            <legend>Credenciales</legend>
                            <form action='Account/Login' method='POST' id='loginForm' class='form-signin' autocomplete='off'>
                                <div class="form-inner">
                                    <div class="input-prepend">
                                        <span class="add-on" rel="tooltip" title="Username or E-Mail Address" data-placement="top"><i class="fa fa-user "></i></span>
                                        <input type='text' class='span4' id='username' name="usuario" required />
                                    </div>
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-key"></i></span>
                                        <input type='password' class='span4' id='password' name="contrasena" required />
                                    </div>
                                </div>
                                <footer class="signin-actions">
                                    <input class="btn btn-primary " type='submit' id="submit" value='Ingresar' />
                                </footer>
                            </form>
                        </div>
                    </div>
                    <div class="span3"></div>
                </div>
            </div>
        </div>
    </div>

    <footer class="application-footer">
        <div class="container">
            <p>Información Legal Del Sitio</p>
            <div class="disclaimer">
                <p>© JarvisGeek S.A. Todos los derechos reservados. 2015</p>
                <div id="app-nav-top-bar" class="nav-collapse">
                    <ul class="menu-footer">
                        <li>
                            <a href="#">Términos de uso</a>
                        </li>
                        <li>
                            <a href="#">Política de privacidad y cookies</a>
                        </li>
                        <li>
                            <a href="#">Términos de pago</a>
                        </li>
                        <li>
                            <a href="#">Acerca de este sitio</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
</body>
