@{
    ViewBag.Title = "NewBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <link type="text/css" rel="stylesheet" href="~/Content/assets/css/rhinoslider-1.05.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/assets/css/multistep.css" />
    <script type="text/javascript" src="~/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/rhinoslider-1.05.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/rhinoslider.js"></script>
    <script type="text/javascript" src="~/js/jquery/mousewheel.js"></script>
    <script type="text/javascript" src="~/js/jquery/easing.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery/multistep.js"></script>

    <div id="body-container">
        <div id="body-content">
            <section class="nav nav-page">
                <div class="container">
                    <div class="row">
                        <div class="span7">
                            <header class="page-header">
                                <h3>
                                    Nueva Solicitud de booking
                                </h3>
                            </header>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page container">
                <div class="row">
                    <div class="span16">
                        <div class="well-anchor">
                            <form action="">
                                <div id="slider">
                                    <div class="form-step">
                                        <div class="titlemultistep">
                                            <legend>Configure los detalles de naviera</legend>
                                        </div>
                                        <div class="solicitud span7">
                                            <div>
                                                <div class="row">
                                                    <div class="form-left">Naviera *</div>
                                                    <div class="form-right">
                                                        <select id="naviera" class="chosen span3" data-placeholder="Seleccione la naviera" required>
                                                            <option value=""></option>
                                                            <option value="King Ocean">King Ocean</option>
                                                            <option value="Crowley">Crowley</option>
                                                            <option value="Seaboard">Seaboard</option>
                                                            <option value="Dole">Dole</option>
                                                            <option value="Maerks">Maerks</option>
                                                            <option value="Isabella">Isabella</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-error"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-left">Destino *</div>
                                                    <div class="form-right">
                                                        <select id="destino" class="chosen span3" data-placeholder="Seleccione el destino">
                                                            <option value=""></option>
                                                            <option value="United States">California</option>
                                                            <option value="United Kingdom">Philadelphia</option>
                                                            <option value="Afghanistan">Houston</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-error"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-left">Barco *</div>
                                                    <div class="form-right">
                                                        <input id="barco" type="text"  class="form-input span3" />
                                                    </div>
                                                    <div class="form-error"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-left">Consecutivo *</div>
                                                        <div class="form-right">
                                                            <input id="consecutivo" type="text"  class="form-input span3" />
                                                        </div>
                                                    <div class="form-error"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-left">Contacto *</div>
                                                    <div class="form-right">
                                                        <select id="contacto" class="chosen span3" data-placeholder="Seleccione el contacto">
                                                            <option value=""></option>
                                                            <option value="United States">Alvaro</option>
                                                            <option value="United Kingdom">Mike</option>
                                                            <option value="Afghanistan">Freddy</option>
                                                            <option value="Afghanistan">Mano</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-error"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="solicitud span7">
                                            <div>
                                                <div class="row">
                                                    <div class="form-left">Origen *</div>
                                                    <div class="form-right">
                                                        <select id="origen" class="chosen span3" data-placeholder="Seleccione el origen" required>
                                                            <option value=""></option>
                                                            <option value="Pital">Pital</option>
                                                            <option value="Sarapiqui">Sarapiqui</option>
                                                            <option value="Guapiles">Guapiles</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-error"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-left">Puerto de salida *</div>
                                                    <div class="form-right">
                                                        <select id="ptoSalida"  class="chosen span3" data-placeholder="Seleccione el puerto de salida">
                                                            <option value=""></option>
                                                            <option value="PTO Limón">PTO Limón</option>
                                                            <option value="PTO Caldera">PTO Caldera</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-error"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-left">Puerto de entrada *</div>
                                                    <div class="form-right">
                                                        <select id="ptoEntrada" class="chosen span3" data-placeholder="Seleccione el puerto de entrada">
                                                            <option value=""></option>
                                                            <option value="Miami">Miami</option>
                                                            <option value="Freeport">Freeport</option>
                                                            <option value="Wilmington">Wilmington</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-error"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-left">Destino final *</div>
                                                    <div class="form-right">
                                                        <select id="destinoFinal" class="chosen span3" data-placeholder="Seleccione el destino final">
                                                            <option value=""></option>
                                                            <option value="LA">LA</option>
                                                            <option value="NY">NY</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-error"></div>
                                                </div>
                                            </div>
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-step">
                                        <div class="titlemultistep">
                                            <legend>Configure los detalles del contenedor</legend>
                                        </div>
                                        <div class="sectionms">
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left">Mercancia *</div>
                                                    <div class="form-right">
                                                        <select id="mercancia" class="chosen span2" data-placeholder="Especificar">
                                                            <option value=""></option>
                                                            <option value="piña">piña</option>
                                                            <option value="aguacate">aguacate</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-error"></div>
                                                </div>
                                            </div>
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left">Contenedores *</div>
                                                    <div class="form-right ">
                                                        <input type="text" id="contenedores" name="pass" class="form-input span2" value="1" />
                                                    </div>
                                                    <div class="form-error"></div>
                                                </div>
                                            </div>
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left">Tipo de contenedor *</div>
                                                    <select class="chosen span2" data-placeholder="Especificar">
                                                        <option value=""></option>
                                                        <option value="cuarenta refeer">cuarenta refeer</option>
                                                        <option value="standar">standar</option>
                                                    </select>
                                                    <div class="form-error"></div>
                                                </div>
                                            </div>
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left">Cajas *</div>
                                                    <div class="form-right "><input type="text" id="pass" name="pass" class="form-input span2" placeholder="Cantidad" /></div>
                                                    <div class="form-error"></div>
                                                </div>
                                            </div>
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left">Peso (Kg)*</div>
                                                    <div class="form-right "><input type="text" id="pass" name="pass" class="form-input span2" placeholder="Cantidad" /></div>
                                                    <div class="form-error"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br >
                                        <div class=" solicitudchk">
                                            <div class="divCkcBX">
                                                <label class="textoCkcBX"><input type="checkbox" class="inputCkcBX" /> Carga requiere control de temperatura</label>
                                            </div>
                                            <div class="divCkcBX">
                                                <label><input type="checkbox" /> Carga peligrosa</label>
                                            </div>
                                            <div class="divCkcBX">
                                                <label><input type="checkbox" /> Carga de gran tamaño</label>
                                            </div>
                                        </div>
                                        <hr class=" hr">
                                        <div class="sectionms">
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left">Temperatura (C°)</div>
                                                    <div class="form-right "><input type="text" id="pass" name="pass" class="form-input span2" placeholder="" /></div>
                                                    <div class="form-error"></div>
                                                </div>

                                            </div>
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left">Ventilación (m³/h) </div>
                                                    <div class="form-right "><input type="text" id="pass" name="pass" class="form-input span2" placeholder="" /></div>
                                                    <div class="form-error"></div>
                                                </div>
                                            </div>
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left">Humedad (%)</div>
                                                    <div class="form-right "><input type="text" id="pass" name="pass" class="form-input span2" placeholder="" /></div>
                                                    <div class="form-error"></div>
                                                </div>
                                            </div>
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left">Cantidad de ejes*</div>
                                                    <div class="form-right "><input type="number" max="5" min="2" id="pass" name="pass" class="form-input span2" value="2" /></div>
                                                    <div class="form-error"></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class=" solicitudchk">
                                            <div class="divCkcBX">
                                                <label class="textoCkcBX"><input type="checkbox" class="inputCkcBX" /> Tratamiento frio</label>
                                            </div>
                                            <div class="divCkcBX">
                                                <label><input type="checkbox" /> GenSet Exportación</label>
                                            </div>

                                        </div>
                                        </div>
                                   

                                    <div class="form-step">
                                        <div class="titlemultistep">
                                            <legend>Configure los detalles de posicionamiento</legend>
                                        </div>
                                        <div class="sectionms  span16" id="sectionms">
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left"> Planta de carga 1*</div>
                                                    <select class="chosen span2" data-placeholder="Especificar">
                                                        <option value=""></option>
                                                        <option value="Proagroin">Proagroin</option>
                                                        <option value="Sucato">Sucato</option>
                                                        <option value="Proagroin">Proagroin</option>
                                                        <option value="Sucato">Sucato</option>
                                                        <option value="Proagroin">Proagroin</option>
                                                        <option value="Sucato">Sucato</option>
                                                    </select>
                                                    <div class="form-error"></div>
                                                </div>
                                            </div>
                                            <div class="solicitud  span3">
                                                <button type="button" class="btn btn-xs btn-success btn-nuevaplanta" id="btnTable">Agregar planta<span class="glyphicon glyphicon-plus-sign"></span></button>
                                            </div>
                                                <table id="table"></table>
                                            </div>
                                        <hr class=" hr">
                                        <div class="sectionms span16">
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left">Semana *</div>
                                                    <div class="form-right ">
                                                        <input class="form-input span3" id="semana" type="week"  min="" required>
                                                        <div class="form-error"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left">Fecha de colocación *</div>
                                                    <div class="form-right "><input class="form-input span3" id="fechaColo" type=date step=1 required>
                                                    <div class="form-error"></div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left">Hora de colocación*</div>
                                                    <div class="form-right "><input class="form-input span2" type=time  step=900 value="06:00"></div>
                                                    <div class="form-error"></div>
                                                </div>
                                            </div>
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left">Fecha de colocación *</div>
                                                    <div class="form-right ">
                                                        <input class="form-input span3" id="fechaCar" type=date step=1 required>
                                                        <div class="form-error"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="solicitud span3">
                                                <div class="row">
                                                    <div class="form-left">Hora de carga *</div>
                                                    <div class="form-right "><input class="form-input span2" type=time step=900 value="06:00"></div>
                                                    <div class="form-error"></div>
                                                </div>
                                            </div>
                                            </div>
                                            <br>
                                            <div class=" solicitudchk">
                                                <div class="divCkcBX">
                                                    <label class="textoCkcBX"><input type="checkbox" class="inputCkcBX" /> Chofer espera en planta</label>
                                                </div>
                                            </div>
                                        </div>

                                    
                                    <div class="form-step">
                                        <div class="row">
                                            <div class="form-left">Email *</div>
                                            <div class="form-right"><input type="text" class="form-input" /></div>
                                            <div class="form-error"></div>
                                        </div>
                                        <div class="row">
                                            <div class="form-left">Mobile No</div>
                                            <div class="form-right"><input type="text" id="mobile" name="mobile" class="form-input" /></div>
                                            <div class="form-error"></div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


            <footer class="application-footer">
                <div class="container">
                    <p>Información Legal Del Sitio</p>
                    <div class="disclaimer">
                        <p>© JarvisGeek S.A. Todos los derechos reservados. 2015</p>
                        <div id="app-nav-top-bar" class="nav-collapse">
                            <ul class="menu-footer">
                                <li>
                                    <a href="#">Términos de uso</a>
                                </li>
                                <li>
                                    <a href="#">Política de privacidad y cookies</a>
                                </li>
                                <li>
                                    <a href="#">Términos de pago</a>
                                </li>
                                <li>
                                    <a href="#">Acerca de este sitio</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </footer>

    <script src="~/Content/js/bootstrap/bootstrap-alert.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-modal.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-dropdown.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-scrollspy.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-tab.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-tooltip.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-popover.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-button.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-collapse.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-carousel.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-typeahead.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-affix.js" type="text/javascript"></script>
<script src="~/Content/js/bootstrap/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/Content/js/jquery/jquery-tablesorter.js" type="text/javascript"></script>
<script src="~/Content/js/jquery/jquery-chosen.js" type="text/javascript"></script>
<script src="~/Content/js/jquery/virtual-tour.js" type="text/javascript"></script>
<script src="~/Content/js/jquery/easing.js" type="text/javascript"></script>
<script src="~/Content/js/jquery/mousewheel.js" type="text/javascript"></script>
<script src="~/Content/js/jquery/rhinoslider-1.05.min.js" type="text/javascript"></script>
<script src="~/Scripts/moment.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $('#sample-table').tablesorter();
        $('#datepicker').datepicker();
        $('#datepicker2').datepicker();
        $(".chosen").chosen();
    });
 
    var fila = 2;

    $('#btnTable').click(function () {
        
        if (fila <= 4) {

            $('#sectionms').append(
                           '<div class=" span3 plantaAdisional" id="fila' + fila + '"> ' +
                                '<div class="row">' +
                                    '<div class="form-left"> Planta de carga ' + fila + ' *</div>' +
                                    '<select  name"planta' + fila + '" class="plantaAdisional-input chosen span2" data-placeholder="Especificar">' +
                                        '<option value=""></option>' +
                                        '<option value="Proagroin">Proagroin</option>' +
                                        '<option value="Sucato">Sucato</option>' +
                                        '<option value="Proagroin">Proagroin</option>' +
                                        '<option value="Sucato">Sucato</option>' +
                                        '<option value="Proagroin">Proagroin</option>' +
                                        '<option value="Sucato">Sucato</option>' +
                                    '</select>' +
                                    '<br>'+
                                    '<button class="fa fa-times btn btn-small btn-danger remove"><span class=""></span></button>' +
                                    '<div class="form-error"></div>' +
                                '</div>' +
                            '</div>')
            fila++;
        } else {
            alert("no se pueden colocar más navieras");
        }
        
                                            
    });

    $(document).on('click', '.remove', function () {
        fila--;
        var cont = $(this).parent().parent().attr('id');
        $('#' + cont).remove();
    });

    $('#convert').click(function () {
        var table = $('#table').tableToJSON();
        alert(JSON.stringify(table));
    });

    
    document.getElementById('fechaColo').valueAsDate = new Date();
    document.getElementById('fechaCar').valueAsDate = new Date();
    $('#semana').val(moment().weekYear() + "-W" + moment().week());
    
</script>